---
layout: main
title: Privacy Policy
stylesheets:
- main
---

<div id="main" class="page-standard">
    <div class="page-bg" aria-hidden="true"></div>

    {% include simpleheader.html %}

    <section class="floating-section content">
        <h1>Privacy Policy</h1>
        <p>
            By submitting your email you agree to your email and date/time of access being stored. 
            This information (email+time) may be shared with anyone for any reason including through negligence of the 
            maintainers of this website, which may leak the stored information (email+time) to unintended and 
            potentially malicious parties.
        </p>
    </section>

    {% include footer.html %}
</div>