<!-- Footer -->
<footer>
    <div class="footer-content">
        <div class="footer-socials">
            <a href="https://github.com/MaximalIntelligence" target="_blank">GitHub</a>
            <a href="https://linkedin.com/company/maximal-intelligence" target="_blank">LinkedIn</a>
        </div>
        <div class="footer-links">
            <!-- <a href="/terms">Terms</a> -->
            <a href="/contact">Contact</a>
            <a href="/privacy">Privacy</a>
            <!-- <a href="/cookies">Cookie Consent</a> -->
            <span>© 2026 Maximal Intelligence</span>
        </div>
    </div>
</footer>
