#privacy {
    .summary-block {
        margin-left: 1em;
        margin-right: 1em;
        padding: 0.4em;
        border-radius: 0.4em;
        background: linear-gradient(110deg,rgba(255, 246, 168, 1) 0%, rgba(255, 246, 168, 0.7) 100%);
    }
}