@font-face {
    font-family: 'Inter';
    src: url('/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
} 

:root {
    --color-main: #333;
    --color-secondary: #777;
    --background-main: #eee;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: var(--color-main);
}

div, nav {
    display: flex;
}

header {
    display: flex;
    max-width: 1200px;
    margin: 1rem auto;
}

header > * {
    display: flex;
    flex: 1 1 600px;
}

#logo {
    height: 3rem;
    width: auto;
}

a {
    text-decoration: none;
    color: var(--color-main);
}
a:hover {
    color: var(--color-secondary);
}

#header-left > * {
    align-self: center;
    margin: 0 1rem;
}

#corporation-title {
    font-size: clamp(1.5rem, 3.5vw, 3rem);
    font-weight: 700;

    @media (max-width: 900px) {
        display: none;
    }
}

#header-right {
    align-items: center;
    justify-content: flex-end;
    margin: 0 1rem;
}

#nav-button {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1;
}

#nav-menu {
    gap: 25px;
}

@media (max-width: 800px) {
    #nav-button {
        display: block;
    }

    #nav-menu {
        flex-direction: column;
        z-index: 1000;
        position: fixed;
        top: calc(5rem);
        left: 0px;
        height: calc(100dvh - 5rem);
        width: 100dvw;
        background: var(--background-main);
        padding: 4rem;
    }

    .hidden-narrow {
        display: none;
    }

    #nav-menu h3 {
        font-size: 2rem;
    }
}


/* #header-left img {
    height: 1.5rem;
    width: auto;
}
header * {
    display: flex;
}

h2 {
    font-size: 1.5rem;
}

#header-left {
    align-items: center;
    gap: 15px;
}




#lattice {
    position: fixed;
    top: 50dvh;
    transform: translateY(-50%);
    right: max(0px, calc((100dvw - 1200px) / 2));
    height: auto;
    width: 300px;
}

#lattice svg {
    width: 100%;
    height: auto;
}


#split {
    display: grid;
    grid-template-columns: 1fr 325px;
}


@media (max-width: 800px) {
    #lattice-container {
        position: fixed;
        top: calc(1.5rem + 25px + 25px);
        left: 0;
        height: 150px;
        width: 100dvw;
        background: white;
        z-index: 100;
    }
    #lattice {
        position: fixed;
        top: calc(1.5rem + 25px + 25px);
        left: 50dvw;
        transform: translateX(-50%);
        width: 150px;
        height: auto;
        background: white;
        z-index: 100;
    }

    #split {
        grid-template-columns: 1fr;
        top: calc(1.5rem + 25px + 25px + 150px);
    }
}


#content {
    display: grid;
    grid-auto-flow: row;
    margin-left: 1rem;
    gap: 6rem;
}

.bb {
    border-bottom-style: solid;
    border-bottom-color: var(--color-main);
    border-bottom-width: 1px;
}

#hook {
    margin-top: 30dvh;
}

#hook h1 {
    font-size: 4rem;
}

#hook p {
    font-size: 1.25rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
}


.bar h2 {
    margin-top: 1rem;
} */